{:paths ["src"
         "resources"] ; goldly ext, notebooks
 :deps {}

 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}

  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                       cider/cider-nrepl {:mvn/version "0.28.3"}
                       ;cider/nrepl {:mvn/version "0.3.0"}
                       
                       }
          :main-opts  ["-m" "nrepl.cmdline"]}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "cc75980b43011773162b485f46f939dc5fba91e4"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.6.1" :git/sha "515b334"}
                 io.github.slipset/deps-deploy {:git/sha "b4359c5d67ca002d9ed0c4b41b710d7e5a82e3bf"}
                 io.github.seancorfield/build-clj {:git/tag "v0.5.4" :git/sha "bc9c0cc"}
                 babashka/fs {:mvn/version "0.0.5"}}
          :ns-default build}

  
 :goldly
  {:extra-deps {org.pinkgorilla/goldly {:mvn/version "0.4.592"}
                org.pinkgorilla/devtools {:mvn/version "0.0.5"}
                nrepl/nrepl {:mvn/version "1.0.0"}
                cider/cider-nrepl {:mvn/version "0.28.3"}}
   :exec-fn modular.system/start!
   :exec-args {:profile "jetty"
               :config ["webly/config.edn" "goldly/config.edn"
                        {:goldly {:routes {:app {"" :goldly/no-page
                                                 "devtools/scratchpad" :scratchpad
                                                 "devtools/viewer" :viewer
                                                 "devtools/repl" :repl
                                                 "devtools/theme" :theme
                                                 "devtools/build" :build
                                                 "devtools/runtime" :runtime
                                                 "devtools/pages" :pages
                                                 "devtools/help" :devtools
                                                 "goldly/reload" :goldly/reload-cljs}}}
                         :reval {:collections {:demo [:clj "demo/notebook/"]
                                               :demo-cljs [:cljs "demo/notebook/"]}}

                         }

                        ]
               :services "goldly/services.edn"}}

  :npm-install
  {:exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "npm-install"}}
  
  :compile
  {:exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "compile2"}}

  :release-adv
  {:exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "release-adv"}}


  
;
  }}


